.togel-wrapper {
  padding: 16px;
  background: #052e1b;
}

.togel-title {
  color: #facc15;
  font-size: 18px;
  margin-bottom: 10px;
}

.togel-scroll {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}

.togel-card {
  min-width: 160px;
  background: linear-gradient(145deg, #065f46, #064e3b);
  border-radius: 12px;
  padding: 10px;
  color: white;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.2s;
}

.togel-card:hover {
  transform: scale(1.05);
}

.togel-header {
  font-weight: bold;
  font-size: 12px;
  color: #facc15;
}

.togel-sub {
  display: block;
  font-size: 10px;
  color: #d1fae5;
}

.togel-date {
  font-size: 10px;
  margin: 6px 0;
}

.togel-result {
  display: flex;
  gap: 6px;
  margin: 10px 0;
}

.togel-result span {
  background: #facc15;
  color: black;
  padding: 4px 6px;
  border-radius: 6px;
  font-weight: bold;
}

.togel-time {
  font-size: 10px;
  margin-bottom: 10px;
}

.togel-btn {
  width: 100%;
  background: linear-gradient(to right, #facc15, #eab308);
  border: none;
  padding: 6px;
  border-radius: 8px;
  color: black;
  font-weight: bold;
}